{% load static %}
<!doctype html>
<html lang="en">
    <head>
        {% include 'includes/meta.html' %}

        <link rel="stylesheet" href="{% static '/css/common.css' %} ">
        <link rel="stylesheet" href="{% static '/css/post-auth-common.css' %}">
        <link rel="stylesheet" href="{% static '/css/userpage.css' %}">
    </head>
        
    <body>

        {% include 'includes/sec_header.html'%}

        <section class="container">
            <div class="row">
                
                {% include 'includes/menu.html'%}
                
                <!-- User info -->
                <div class="col-md-6 user-info">
                    <ul>
                        <li>Name: <span> {{ user.first_name}} {{ user.last_name}} </span></li>
                        <li>Age: <span> {{ user.profile.age}} </span></li>
                        <li>Gender: <span> {{ user.profile.gender}} </span></li>
                        <li>Country: <span> {{ user.profile.country }} </span></li>
                        <li>City: <span>  {{ user.profile.city }} </span></li>
                        <li>About: <span>  {{ user.about}} </span></li>
                    </ul>
                </div>
                
                <div class="col-md-1"></div>
                
                <!-- User Avatar -->
                <div class="col-md-3">
                    <div class="avatar">
                        <img src=" {{ user.profile.image.url }}">
                    </div>  
                    <a href="edit-profile"><button class="edit-btn btn btn-primary reg-btn">Edit</button></a>
                </div>
                
            </div>
        </section>
        
        {% include 'includes/footer.html'%}
        
    </body>
    
    {% include 'includes/scripts.html'%}

</html>