<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
</head>
<body>
<!--<div class="se-pre-con"></div>-->
<form method="post" action="">
{% csrf_token %}
<div class="form-group">
<input type="text" required="required" name="email"/>
<label class="control-label" for="input">Email</label><i class="mtrl-select"></i>
</div>
<div class="form-group">
<input type="text" required="required" name="username"/>
<label class="control-label" for="input">User Name</label><i class="mtrl-select"></i>
</div>
<div class="form-group">
<input type="password" required="required" name="password1"/>
<label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
</div>
<div class="form-group">
<input type="password" required="required" name="password2"/>
<label class="control-label" for="input">Confirm Password</label><i class="mtrl-select"></i>
</div>
<a href="{% url 'regpage:login' %}" title="" class="already-have">Already have an account</a>
<div class="submit-btns">
<button class="mtr-btn signup" type="submit"><span>Register</span></button>
</div>
</form>
</body>
</html>