@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pacifico&display=swap');

:root {
    --menu-line-height: 38px;
    --default-font-color: #35136C;
}

body {
    padding-top: 10px;
}

.exit{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;

    color: var(--default-font-color);
}

.logo {
    font-family: Pacifico;
    font-size: 48px;
    line-height: 84px;

    color: #530FC4;
}

.language-toggle{
    height: 100%;
    line-height: 100%;
    margin-top: 25%;
}

.languege-toggle-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    
    color: var(--default-font-color);
}

.language-toggle-item {
    padding: 0;
    background: none;
    width: 10px;
}

footer{
    padding: 10px 0 10px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.dropdown-menu{
    min-width: 5rem;
}

.nav-link{
    color: black;
}


