        

    <div class="end"></div>
    <footer>                   <hr>
            <div class="container">
               <div class="row">

                   <!-- Footer links -->
                   <div class="col-md-6">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">&copy; 2020 Alone.com</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sources</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li>
                                <a class="nav-link" id=”#Top”>On top</a>
                            </li>
                        </ul>
                   </div>
                   
                   <!-- Lanfuage tooggle -->
                   <div class="col-md-6">
                        <ul class="nav justify-content-end align-middle">
                            <li class="nav-item">
                                <div class="dropdown col-md-1 language-toggle">
                                    <button class="bg-white dropdown-toggle border-0 languege-toggle-text" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false" >
                                        En
                                    </button>
                                    <ul class="dropdown-menu border-0  " aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item languege-toggle-text" href="#">Ru</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                   
                </div>  
            </div>
        </footer>