                <!-- Menu -->
                <div class="col-md-2">
                    <button class="menu-button"><a class="menu-button-link" href="{% url 'userpage:user-page' user.username %}">Profile</a></button>
                    <button class="menu-button"><a class="menu-button-link" href="{% url 'friends:find-friends' %}">People</a></button>
                    <button class="menu-button"><a class="menu-button-link" href="">Messanges</a></button>
                    <button class="menu-button"><a class="menu-button-link" href="">Notifications</a></button>
                </div>